// $white: #fff !default; // SASS
// $primary: hsl(blue);

* html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before *::after {
  box-sizing: inherit;
}

body {
  /* this is where all of the basic information for the body goes such as fonts, colors and sizes */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 100%;
  line-height: 1.64rem;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

.navbar {
  align-items: center;
  background-color: black;
  display: flex;
  height: 60px;
}

.navbar::before {
  content: ' ';
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar .logo {
  flex-grow: 1;
  height: 100%;
  align-items: center;
  display: flex;
  padding-left: 1rem;
}

.navbar .nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-decoration: none;
}

.navbar .nav .menu-item {
  border-bottom: 2px solid transparent;
  color: white;
  flex-grow: 1;
  letter-spacing: 0.5px;
  line-height: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  margin: 8px;
}

.navbar .nav .menu-item:hover {
  background-color: grey;
  cursor: pointer;
}

.navbar .nav .menu-item.active {
  border-color: #d9bfcc;
}

.navbar img {
  height: calc(100% - 1.5rem);
  width: auto;
}

.overlay-image .image {
  display: block;
  width: 100%;
  height: 56rem;
}

.overlay-image .text {
  color: white;
  font-size: 5rem;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-weight: bold;
}

.section-head {
  background: #666;
  margin: 0;
  padding: 0.2rem;
  color: white;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
}

/* This is where two pictures will be stored in a div to sit side by side*/
.divflowers img {
  max-width: 49%;
  float: left;
  margin: 1px;
}

/* This is where an extra image was placed in the div for only desktop and hidden in mobile */
.divflowers .flowerthree img {
  display: none;
}

/* This is where two pictures will be stored in a div to sit side by side*/
.divpeople img {
  max-width: 49%;
  float: left;
  margin: 1px;
}

/* This is where two pictures will be stored in a div to sit side by side*/
.divoutdoors img {
  max-width: 100%;
  float: left;
  margin: 1px;
}

/* This is the caption for the pictures*/
.flowers {
  background: pink;
  margin: 0;
  padding: 0.1rem;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

/* This is the caption for the pictures*/
.outdoors {
  background: rgb(66, 81, 216);
  margin: 0;
  padding: 0.1rem;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

/* This is the caption for the pictures*/
.footer {
  background: lightgrey;
  margin: 0;
  padding: 1px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
}

/* ABOUT MOBILE */

.hi h1 {
  color: rgb(45, 49, 238);
  font-size: 1.5rem;
  text-align: center;
  line-height: 30px;
  z-index: 5;
}

/* Banner Image*/
.aboutbanner img {
  display: block;
  width: 100%;
  height: auto;
}

/* Info About Me*/
.write .text {
  font-size: 1rem;
  line-height: 2rem;
}

/* Info About Me*/
.write .texttwo {
  font-size: 1rem;
  line-height: 2rem;
  margin: 2rem;
}

/* Info About Me*/
.aboutme .txttwo {
  color: black;
  z-index: 5;
  position: absolute;
  top: 9rem;
  left: 6rem;
  font-size: 1rem;
  font-weight: 500;
}

/* Info About Me*/
.aboutme .txt {
  color: black;
  z-index: 5;
  position: absolute;
  top: 7rem;
  left: 6rem;
  font-size: 1rem;
  font-weight: 500;
}

/* Info About Me*/
.aboutme .textthree {
  color: black;
  z-index: 5;
  position: absolute;
  top: 11rem;
  left: 5rem;
  font-size: 1rem;
  font-weight: 500;
}

/* Background box which was placed over a picture and faded (opacity) to show writing*/
.box {
  background-color: white;
  height: 8rem;
  width: 15rem;
  z-index: 5;
  position: absolute;
  top: 6rem;
  left: 4.5rem;
  opacity: 0.7;
  border-radius: 25px;
}

/* Image of myself*/
.me img {
  width: 50%;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  border: solid black 1px;
  padding: 2px;
}

.listone {
  z-index: 5;
  position: absolute;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  margin: -20px 5px 75px 5px;
}

.divlisttwo {
  z-index: 5;
  position: absolute;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  margin: -23px 5px 75px 200px;
}

/* A button with a clickable link that leads to the contact page and one that leads to the work page*/
.clearfix .hire {
  background: #259e9e;
  padding: 0.1rem;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  margin: 250px 0px 15px 0px;
}

/* Footer */
.footertwo {
  background: lightgrey;
  margin: 0;
  padding: 1px;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
}

/* WORK MOBILE  */
.divpeopletwo img {
  max-width: 49%;
  float: left;
  margin: 1px;
}

.divoutdoorss img {
  max-width: 49%;
  float: left;
  margin: 1px;
}

.peoplee {
  text-align: center;
  background: rgb(91, 216, 91);
  margin: 0;
  padding: 0.1rem;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}

/* CONTACT MOBILE */
/* I used some of somebody elses code for the overlay image: https://pavenum.com/en/images-and-text-overlays-in-html-css/ */
.overlay-image {
  position: relative;
  width: 100%;
}

.overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-image .text {
  color: white;
  font-size: 30px;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-weight: bold;
}

.white img {
  width: 100%;
  display: block;
}

.whitet img {
  width: 100%;
  display: block;
}

.phone {
  background: white;
  margin: 0;
  padding: 0.1rem;
  text-align: center;
  font-size: 0.8rem;
  border: 2px solid black;
  margin: 4px;
}

.location {
  background: white;
  margin: 0;
  padding: 0.1rem;
  text-decoration: white;
  text-align: center;
  font-size: 0.8rem;
  border: 2px solid black;
  margin: 4px;
}

.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
  opacity: 0.8;
}

input[type='text'],
input[type='email'] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: black;
}

input[type='text']:focus,
input[type='email']:focus {
  background-color: white;
  outline: none;
  border: 2px solid black;
}

.btn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 87%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

/*DESKTOP*/
@media all and (min-width: 80rem) {

  /* NAVIGATION */
  html {
    box-sizing: border-box;
    font-size: 16px;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    font-size: 100%;
    line-height: 1.64rem;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgba(0, 0, 0, 0.89);
  }

  .navbar {
    align-items: center;
    background-color: black;
    display: flex;
    height: 60px;
    border-bottom: 3px solid #f0f0f0;
  }

  .navbar::before {
    content: ' ';
    border-top: 2px solid #d16199;
    position: absolute;
    top: 0px;
    width: 100%;
  }

  .navbar .logo {
    flex-grow: 1;
    height: 100%;
    align-items: center;
    display: flex;
    padding-left: 1rem;
  }

  .navbar .nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .navbar .nav .menu-item {
    border-bottom: 2px solid transparent;
    color: white;
    flex-grow: 1;
    letter-spacing: 0.5px;
    line-height: 60px;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
  }

  .navbar .nav .menu-item:hover {
    background-color: grey;
    cursor: pointer;
  }

  .navbar .nav .menu-item.active {
    border-color: #d9bfcc;
  }

  .navbar img {
    height: calc(100% - 1.5rem);
    width: auto;
  }

  /* HOME */
  .bannerimage img {
    width: 100%;
    height: 56rem;
  }

  .overlay-image .text {
    color: white;
    font-size: 5rem;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-weight: bold;
  }

  .text .menu-item {
    color: black;
    z-index: 5;
    position: absolute;
    top: 38rem;
    left: 56rem;
    font-size: 5rem;
  }

  .section-head {
    background: #666;
    margin: 0;
    padding: 0.2rem;
    color: white;
    text-align: center;
    font-size: 2rem;
  }

  .divflowers img {
    max-width: 49%;
    float: left;
    margin: 1px;
  }

  .divflowers .flowerthree img {
    display: block;
  }

  .divpeople img {
    max-width: 49%;
    float: left;
    margin: 1px;
  }

  .divoutdoors img {
    max-width: 100%;
    float: left;
    margin: 1px;
  }

  .flowers {
    background: pink;
    padding: 0.1rem;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    overflow: hidden;
    width: 100%;
    position: relative;
    border: 2px solid black;
  }

  .outdoors {
    background: #259e9e;
    padding: 0.1rem;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    overflow: hidden;
    width: 100%;
    position: relative;
    border: 2px solid black;
  }

  .footer {
    background: lightgrey;
    margin: 0;
    padding: 1px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
  }

  $primary-color: rgb(80, 80, 80);

  .grey {
    color: $primary-color;
    height: 6rem;
    width: 28rem;
    z-index: 5;
    position: absolute;
    top: 40rem;
    left: 55rem;
    opacity: 0.4;
  }

  /* ABOUT */
  .hi h1 {
    color: blue;
    z-index: 5;
    position: absolute;
    top: 6rem;
    left: 44rem;
    font-size: 4rem;
  }

  .aboutbanner img {
    display: block;
    width: 100%;
    height: 57rem;
    opacity: 0.8;
  }

  .aboutme .txt {
    color: black;
    z-index: 5;
    position: absolute;
    top: 25rem;
    left: 37rem;
    font-size: 2rem;
    font-weight: 500;
  }

  .aboutme .txttwo {
    color: black;
    z-index: 5;
    position: absolute;
    top: 25rem;
    left: 60rem;
    font-size: 2rem;
    font-weight: 500;
  }

  .aboutme .textthree {
    color: black;
    z-index: 5;
    position: absolute;
    top: 30rem;
    left: 45rem;
    font-size: 2rem;
    font-weight: 500;
  }

  .box {
    background-color: white;
    height: 15rem;
    width: 50rem;
    z-index: 5;
    position: absolute;
    top: 22rem;
    left: 34rem;
    opacity: 0.9;
    border-radius: 25px;
  }

  .me img {
    width: 35%;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    border: solid black 1px;
    padding: 2px;
  }

  .write .text {
    font-size: 2rem;
    line-height: 3rem;
    margin: 4rem 2rem 4rem 0;
  }

  .write .texttwo {
    font-size: 2rem;
    line-height: 3rem;
  }

  .listone {
    z-index: 5;
    font-size: 2rem;
    left: 60rem;
    line-height: 4rem;
  }

  .divlisttwo {
    z-index: 5;
    font-size: 2rem;
    left: 75rem;
    line-height: 4rem;
  }

  .clearfix .hire {
    background: #259e9e;
    padding: 0.1rem;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    overflow: hidden;
    width: 100%;
    position: relative;
    border: 2px solid black;
  }

  /* WORKS DESKTOP */
  .divpeopletwo img {
    max-width: 32%;
    float: left;
  }

  .divoutdoorss img {
    max-width: 32%;
    float: left;
  }

  .divflowers img {
    max-width: 32%;
    float: left;
  }

  .flowers {
    text-align: center;
    background: #259e9e;
    margin: 0;
    padding: 0.1rem;
    color: white;
    font-size: 1.5rem;
  }

  .peoplee {
    text-align: center;
    background: #259e9e;
    margin: 0;
    padding: 0.1rem;
    color: white;
    font-size: 1.5rem;
  }

  .outdoors {
    text-align: center;
    background: #259e9e;
    margin: 0;
    padding: 0.1rem;
    color: white;
    font-size: 1.5rem;
  }

  .hellothere .text {
    color: #259e9e;
    font-size: 2.5rem;
    text-align: center;
    line-height: 100px;
    z-index: 5;
    font-weight: bold;
  }

  .overlay-image .image {
    display: block;
    width: 100%;
    height: 56rem;
  }

  .overlay-image .text {
    font-size: 5rem;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-weight: bold;
  }

  .footer {
    background: lightgrey;
    margin: 0;
    padding: 1px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
  }

  s
  /* CONTACT PAGE DESKTOP */
  /* I used some of somebody elses code for the overlay image: https://pavenum.com/en/images-and-text-overlays-in-html-css/ */

  .overlay-image .image {
    display: block;
    width: 100%;
    height: 56rem;
  }

  .overlay-image .text {
    color: white;
    font-size: 5rem;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-weight: bold;
  }

  .whitet img {
    width: 100%;
    display: block;
  }

  .white img {
    width: 100%;
    display: block;
    height: 5px;
    opacity: 0.1;
  }

  .phone {
    background: white;
    margin: 0;
    padding: 0.1rem;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid black;
    margin: 4px;
  }

  .location {
    background: white;
    margin: 0;
    padding: 0.1rem;
    text-decoration: white;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid black;
    margin: 4px;
  }

  .container {
    height: 60rem;
    max-width: 70%;
    background-color: white;
    opacity: 0.7;
    left: 17rem;
    font-size: 1.5rem;
  }

  input[type='text'],
  input[type='email'] {
    width: 1300px;
    padding: 30px;
    margin: 50px 0 50px 0;
    border: none;
    font-size: 1.5rem;
    background: black;
  }

  input[type='text']:focus,
  input[type='email']:focus {
    background-color: white;
    outline: none;
    border: 5px solid black;
  }

  .btn {
    background-color: black;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 1.5rem;
  }

  .btn:hover {
    opacity: 1;
  }
}